
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  animation: backgroundColorChange 20s ease infinite;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


